# Compiled output
e-commerce/build/
e-commerce/dist/
e-commerce/tmp/
e-commerce/out-tsc/
e-commerce/bazel-out/

# Node
e-commerce/node_modules/
e-commerce/.npm/

# Sass
e-commerce/.sass-cache/
e-commerce/e-commerce.component.css.map
e-commerce/e-commerce.component.scss

# Compiled output
e-commerce/dist/
e-commerce/tmp/
e-commerce/out-tsc/
e-commerce/bazel-out/

# Sensitive data
e-commerce/src/main/java/web/webapp2/connection/DbData.java
